<%- include('../partials/header.ejs', {title:"Error"}); %>
<div class="container container-body">
<!-- generic error page -->
<!-- error gets displayed in header.ejs except for login errors -->
<%- body %>
</div>
<%- include('../partials/footer.ejs'); %>
